doctype html
html(lang='en')
head
	title= 'Phaserito'
	meta(charset='utf-8')
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=0.2, user-scalable=yes")
body
	div#loading
		cacaca
		div#loadingAnim
			div.spinner
				div.dot2
				div.dot1
	div#fontloader(style="opacity: 0; position:fixed; top: 600px")
		span(style="font-family: Roboto-Light;")
	script(type="text/javascript", src="./libs/phaserito.vendor.js")
	script(type="text/javascript", src="./js/app.min.js")
